body{
	margin: 0px;
	padding-left: 170px;
	padding-right: 170px;
}

header{
	background-color: white;
	border-style: solid;
	border-color: #ff0000;
	border-radius: 25px;
	padding: 25px;
	margin-top: 40px;
	margin-bottom: 65px;
	margin-left: -110px;
	margin-right: -110px;
	animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
            0% {
                opacity: 0;
            }
            100% {
                opacity: 1;
            }
        }

.creator-logo{
	width: 100px;
	text-align: left;
}

.app-logo{
	text-align: center;
	width: 70%;
	padding-top: 45px;
	padding-bottom: 45px;
	padding-left: 10px;
	padding-right: 10px;
	animation: fadeInAnimation ease 5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    margin-left: auto;
    margin-right: auto;
}

h1{
	font-family: 'League Gothic', 'Oswald', sans-serif;
	font-size: 70px;
	padding-top: 10px;
	margin-bottom: 5px;
}

p{
	font-family: 'Lato', 'Nunito Sans', sans-serif;
	font-size: 20px;
}

.download-buttons{
	background-color: white;
	border-style: solid;
	border-color: #ff0000;
	border-radius: 25px;
	margin: 40px;
	padding: 10px;
	align-items: center;
	transition: background-color 1s, border-color 1s, margin 1s;
}

.download-buttons:hover{
	background-color: whitesmoke;
	border-color: #ff5959;
	margin: 30px;
	margin-bottom: 40px;
}

.download-logo{
	align-items: center;
	width: 70%;
	margin-left: 15%;
	margin-right: 15%;
	margin-top: 30px;
	margin-bottom: 15px;
}


.play-store-img{
	align-items: center;
	display: inline-block;
	width: 26%;
	margin-left: auto;
	margin-right: auto;
	transition: width 1s, opacity 1s;
}

.play-store-img:hover{
	width: 28%;
	opacity: 0.7;
}

.apple-store-img{
	align-items: center;
	display: inline-block;
	width: 23%;
	margin-left: auto;
	margin-right: auto;
	transition: width 1s, opacity 1s;
}

.apple-store-img:hover{
	width: 25%;
	opacity: 0.7;
}

.microsoft-store-img{
	align-items: center;
	display: inline-block;
	width: 20%;
	margin-right: auto;
	border: 2px solid #a6a6a6;
	border-radius: 6px;
	margin-left: auto;
	margin-right: auto;
	transition: width 1s, opacity 1s;
}

.microsoft-store-img:hover{
	width: 22%;
	opacity: 0.7;
}

.badges{
	padding-left: 230px;
	padding-right: auto;
	align-content: center;
	margin-top: 40px;
	margin-bottom: 20px;
}

footer{
	background-color: #ff0000;
	color: white;
	padding: 50px;
	margin-top: 20px;
	margin-bottom: 5px;
	text-align: center;
	border-radius: 20px;
	transition: border-radius 2s, background-color 2s;
}

footer:hover{
	border-radius: 50px;
	background-color: darkred;
}

.hyperlink{
	color: #ff0000;
	background-color: white;
	text-decoration-style: dashed;
	transition: color 1s, background-color 1s, font-size 1s;
}

.hyperlink:hover{
	color: white;
	background-color: #ff5959;
	font-size: 22px;
}